<main class="contenedor contenedor-formularios">
    <h1><%= nombrePagina %></h1>
    <form method="POST" class="default-form">
        <legend>¿Eliminar Meeti? un meeti eliminado no se puede recuperar</legend>
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Eliminar Meeti">
        </div>

    </form>

</main>